<div class="container-fluid item-upload">
<div class="row">
<form class="col-md-8" enctype="multipart/form-data" action="/api/addFile" method="POST">
   <div class="form-group">
        <label for="track">Track</label>
        <input type="file" class="file-control-file" id="track" name="track">
    </div>
<input type="submit" value="submit">
</form>
</div>
</div>